.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 120px;
}

.contact_heading{
    padding-bottom: 20px;
}
.contact-text {
    width: 50%;
    padding: 30px;
    color: #333;
    font-size: 1.1rem;
    line-height: 1.5;
}

.contact-form {
    width: 30%; 
    height: 450px;
    padding: 20px;
    border: 1px solid #6524EB;
    border-radius: 8px;
    background-color: white; /* Set background color to white */
    margin-right: 150px;
}

.contact-form {
    margin: 0 auto; /* Center the form */
}

.form-group {
    margin-bottom: 20px; /* Add margin between form groups */
}

label {
    display: block; /* Labels appear on top of the input fields */
}

.name-fields {
    display: flex; /* Display first name and last name in the same row */
}

.name-fields label,
.name-fields input {
    flex: 1; /* Make both elements take up equal space */
    margin-right: 10px; /* Add space between first name and last name */
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px; /* Add space between input fields */
    background-color: #f5f5f5; /* Set background color of input fields */
    border: 1px solid #ccc; /* Add border to input fields */
}

.contact-form label {
    margin-bottom: 5px; /* Add space below labels */
}

.form-button {
    text-align: center; /* Center the button horizontally */
}

.contact-form button {
    display: inline-block; /* Make the button display as an inline-block element */
}

